*{
	padding: 0;
	margin: o;
}

body{
	color:black ;
	background: #f8eee2 ;
	font-family: Arial, sans-serif;
}

.menucompleto {
	background:#ffcb76;
	display: inline-block;
	border-radius:50px;
	margin: 0px;
	width: 2100px;
	height: 50px;
	padding: 0px;
}

.inicio{
	background: #ffcb76;
	padding: 4px;
	margin: 7px 2px;
}

.inicio:hover img{
	transform: scale(1.1);
}

.inicio a{
	transition: all 500ms ease-out;
	border-radius:10px;
}

.search{
	margin-left: 5px;
}

.search:hover img{
	transform: scale(1.1);
}

.search a{
	transition: all 500ms ease-out;
	border-radius:10px;
}

.facebook{
	margin-left: 1905px;
}

.facebook:hover img{
	transform: scale(1.1);
}

.facebook a{
	transition: all 500ms ease-out;
	border-radius:10px;
}

.youtube{
	margin-left: 5px;
}

.youtube:hover img{
	transform: scale(1.1);
}

.youtube a{
	transition: all 500ms ease-out;
	border-radius:10px;
}

.instagram{
	margin-left: 5px;
}

.instagram:hover img{
	transform: scale(1.1);
}

.instagram a{
	transition: all 500ms ease-out;
	border-radius:10px;
}

.whatsapp{
	margin-left: 5px;
}

.whatsapp:hover img{
	transform: scale(1.1);
}

.whatsapp a{
	transition: all 500ms ease-out;
	border-radius:10px;
}

.pagar:hover img{
	transform: scale(1.1);
}

.pagar img{
	transition: all 500ms ease-out;
	border-radius:10px;
}

.nombreapellido{
	background: #f8eee2;
	margin-left: 900px;
	padding: 20px;
	border-color: #ffcb7;
}

.nombreapellido:focus{
	border-color: #ffcb7;
}

.enviarD{
	margin-left: 30px;
}

.pagar {
	margin: 20PX;
	margin-right: 700px;
	margin-left: 990px;
}

.boton-pagar{
	margin-left: 400px;
	background: grey;
	margin: 50PX;
	margin-left: 950px;
	font-size: 30px;
	text-decoration: none;
	padding: 15px 20px;
	display: inline-flex;
}

.cuadro{
	padding: 15px;
}


p{
	font-size:  25px;
}

.redondo{
	border-radius:80px;
	transition: all 500ms ease-out;
}

.boton-pagar:hover {
	opacity: .8;
	transform: scale(1.1);
}

/*Copyrigth*/
.copyright{
	margin: 75px 0 0 0;
	margin-left: 950px;
	padding: 9px;
}