*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: gray;
}

html{
	scroll-behavior: smooth;
}

.container{
	max-width: 2000px;
}

header{
	width: 100%;
	flex-direction: column;
}

header .logo{
	margin: 0;
	padding: 25px 30px;
	font: bold;
	color: black;
	font-size:  1.5em;
}

header .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(220, 220, 220);
	flex-direction: row;
	justify-content: space-between;
}

header .nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
	padding-right: 20px;
}

header a{
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

header a:hover{
	color: gray;
}

#imagenescel .carousel{
	margin: auto;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#imagenescel .d-block{
	margin: auto;
	padding: 50px;
}

#equipos{
	max-width: 2000px;
	margin: auto;
	text-align: center;
	background-color: rgb(220, 220, 220);
}

#equipos .equipos-cel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#equipos .container{
	justify-content: center;
	margin: auto;
	padding: 50px 50px;
}

#equipos h2{
	margin: 0;
	padding: 25px 30px;
	font: bold;
	color: black;
	font-size:  3.0em;
}

#equipos p{
	margin: 0;
	padding: 5px 30px;
	font: bold;
	color: black;
	font-size:  1.5em;
}

.equipos-cel{
	background-position: center center;
	background-size: cover;
	flex-direction: column;
	align-items: center;
}

#equipos .carta1 p{
	margin: 0;
	padding: 10px 30px;
	font: bold;
	color: black;
	font-size:  1.5em;
}

#equipos .carta1 .iphone-13{
	margin: auto;
	padding: 20px 30px;
	background-position: center center;
	background-size: cover;
}

#equipos .carta2 p{
	margin: 0;
	padding: 10px 30px;
	font: bold;
	color: black;
	font-size:  1.5em;
}

#equipos .carta2 .iphone-13-pro{
	margin: auto;
	padding: 20px 30px;
	background-position: center center;
	background-size: cover;
}

#equipos .carta3 p{
	margin: 0;
	padding: 10px 30px;
	font: bold;
	color: black;
	font-size:  1.5em;
}

#equipos .carta3 .iphone-13-pro-max{
	margin: auto;
	padding: 20px 30px;
	background-position: center center;
	background-size: cover;
}

.equipocel .iphone-13{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#equipos button{
	margin: 10px;
	font-size: 1.30em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: gray;
}

#paquetes{
	margin: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#paquetes .container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1500px;
}

#paquetes .container .prepago{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

#paquetes .container .plan{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

#paquetes h2{
	padding: 10px 30px;
	font: bold;
	color: black;
	font-size:  3.0em;
}

#paquetes .container h3{
	padding: 10px 30px;
	font: bold;
	color: black;
	font-size:  2.0em;
}

#paquetes .container button, h3{
	flex-direction: row;
	justify-content: space-between;
}

#paquetes button{
	align-items: center;
	margin: 10px;
	font-size: 1.5vh;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: gray;
}

#sucursales{
	max-width: 2000px;
	margin: auto;
	padding: 100px;
	text-align: center;
	background-color: rgb(220, 220, 220);
}

#sucursales h3{
	margin: auto;
	align-items: center;
	padding: 0px 30px;
	font: bold;
	color: black;
	font-size:  3.0em;
}

#sucursales .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sucursales .container .appleiztalapa{
	padding: 20px 30px;
}

#sucursales .container .appleiztacalco{
	padding: 20px 30px;
}

#sucursales .container .appletezontle{
	padding: 20px 30px;
}

#sucursales .container .appleermita{
	padding: 20px 30px;
}

#sucursales .shop-logo{
	margin: 30px;
}

#sucursales .container a{
	margin: 30px;
	font-size: 20px;
	padding: 30px 30px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#sucursales a:hover{
	color: gray;
}

#equipos-trabajo{
	margin: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

#equipos-trabajo .icono-trabajador{
	width: 50px;
	margin: 10px;
}

#equipos-trabajo .trabajadores{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#equipos-trabajo h3{
	font-size:  3.0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
}

#equipos-trabajo .trabajadores .soportetecnico{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	margin: auto;
	padding: 30px;
	color: black;
}

#equipos-trabajo .trabajadores .soportetecnico h3{
	font-size: 30px;
	font-weight: bold;
	color: black;
}

#equipos-trabajo .trabajadores .servicioalcliente{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	margin: auto;
	padding: 30px;
	color: black;
}

#equipos-trabajo .trabajadores .servicioalcliente h3{
	font-size: 30px;
	font-weight: bold;
	color: black;
}

table{
	padding: 10px 30px;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	background-color: rgb(220, 220, 220);
}

table, th, td{
	border: 1px solid;
	color: black;
	border-collapse: collapse;
}

th, td{
	padding: 10px;
}

#contacto{
	max-width: 2000px;
	margin: auto;
	padding: 30px;
	background-color: rgb(220, 220, 220);
}

#contacto .contactanos{
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(220, 220, 220);
}

#contacto .datospersonales{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px;
	font-size: 1.5vh;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: gray;
}

#contacto .contactanos h3{
	margin: auto;
	padding: 0px 30px;
	font: bold;
	color: black;
	font-size:  1.5em;
}

#contacto .contactanos p{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	padding: 0px 30px;
	font: bold;
	color: black;
}

#contacto .contactanos .tyc label{
	
	font-size: 1.5vh;
	font-weight: bold;
	padding: 10px 30px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: gray;
}

#contacto .contactanos .botones{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

#contacto .contactanos .guardarD{
	align-items: center;
	margin: 10px;
	font-size: 1.0vh;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: gray;
}




footer .container{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
